.MyModal{
    position:fixed;
    background: rgba(0,0,0,0.8);
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: none;
}

.MyModal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    padding:25px;
    border-radius:12px;
}
.MyModal_content form{
    display: flex;
    gap:20px;
}
.MyModal.active{
    display: flex;
    justify-content: center;
    align-items:center;
}